{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>
  
  {{#unless house}}
    <h3 class="ui message">
      Start adding your perfumes
    </h3>
  {{/unless}}

  {{#each house}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{houseName}}
      </h3>
      <a href="/perfumes/{{id}}">View</a>

  

    </section>
  {{/each}}

</section>
