{{> menu}}

<section class="ui center aligned middle aligned scrolling segment">
  <h2 class="ui header">
    {{singlePerfume.houseName}}
  </h2>
  {{> listperfumes}}
</section>

<section class="ui center aligned middle aligned segment">

{{> addperfume}}

</section>