{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>{{appStore.appTitle}}</h2>

    <img src="preview2.png" height="300px">
    <img src="preview3.jpg" height="300px">
  

  <p>
    {{appStore.appDescription}}
  </p>
  <div class="ui statistic">
    {{#with start}}
    <div class="value">
      {{perfumeCount}}
    </div>
    {{/with}}
    <div class="label">
      Perfumes indexed
    </div>
  </div>

</section>
