{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>{{appStore.appTitle}}</h2>
  <img src="preview.jpg" width="300">

  <p>
    {{appStore.appDescription}}
  </p>
  <div class="ui statistic">
    <div class="value">
      {{perfumes.getPerfCount}}
    </div>
    <div class="label">
      Perfumes indexed
    </div>
  </div>

</section>
